@import url('https://fonts.googleapis.com/css?family=Poppins|Source+Sans+Pro&display=swap');

body {
    padding: 10px;
    background-image: url(/images/keyboard-green-51415.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

h1 {
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 2rem;
     color: whitesmoke;
    }
p {
    font-family: 'Poppins', sans-serif;
    color: white; 
}